<mat-card class="person-card">
  <div class="person-header" title="{{person.name}}">
    <div class="person-header_logo"></div>
    <div class="person-header_title">
      <span>{{person.shortName}}</span>
    </div>
  </div>
  <img mat-card-image src="{{person.posterPath}}" alt="{{person.name}}">
  <div class="person-rating" title="{{person.popularity || ''}}">
    <bar-rating [readOnly]="true" [rate]="7.5" [max]="10"></bar-rating>
  </div>
  <mat-card-content class="person-content">
    <span title={{person.description}}>{{person.shortFilmsKnown}}</span>
  </mat-card-content>
  <mat-card-actions class="person-actions">
    <button mat-button>
      <mat-icon class="film-icons">notes</mat-icon>
    </button>
    <button mat-button [ngClass]="{'favorite': person.favorite}">
      <mat-icon>{{person.favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>