<mat-card class="menu-card">
    <mat-toolbar class="menu-toolbar">
        <mat-toolbar-row>
            <span>В избранное добавлено: 5 элементов</span>
            <span class="example-spacer"></span>
            <div>
                <mat-form-field>
                    <mat-select placeholder="Сортировка" (selectionChange)="sortFilms($event.target)">
                        <mat-option [value]="sortingOption.value " *ngFor="let sortingOption of sortingOptions ">
                            {{sortingOption.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-card>
<div class="films-cards ">
    <app-film-item [film]="film " *ngFor="let film of films ">
    </app-film-item>
</div>