<mat-card class="person-card">
  <div class="person-header" title="{{person.name}}">
    <div class="person-header_logo"></div>
    <div class="person-header_title">
      <span>{{person.shortName}}</span>
    </div>
  </div>
  <img mat-card-image src="{{person.posterPath}}" alt="{{person.name}}">
  <div class="film-rating" title="{{film.rating || ''}}">
    <bar-rating [readOnly]="true" [rate]="7.5" [max]="10"></bar-rating>
  </div>
  <mat-card-content class="film-content">
    <span title={{film.description}}>{{film.shortDescription}}</span>
  </mat-card-content>
  <mat-card-actions class="film-actions">
    <button mat-button disabled>
      <mat-icon class="film-icons">play_arrow</mat-icon>
    </button>
    <button mat-button>
      <mat-icon class="film-icons">notes</mat-icon>
    </button>
    <button mat-button (click)=toggleFavorites(film.id) [ngClass]="{'favorite': film.favorite}">
      <mat-icon>{{film.favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>