:host {
    display: flex;
    height: 750px;
    margin: 30px;
}

.film-card {
    width: 300px;
    max-height: 750px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 300px; /* override mat-card default */
}

.film-header {
    display: flex;
    flex:0 0 auto;
    width: 100%;
    height: 75px;
    font-size:18px;
    align-items: center;
}

.film-header_logo {
    width: 40px;
    height: 40px;
    background-image: url('./../../../assets/1.png');
    background-size: cover;
    margin-left: 10px;
}

.film-header_title {
    display: flex;
    margin: 0;
    width: 190px;
    justify-content: center;
    padding: 0 5px;
}

.film-header_year {
    width: 40px;
    margin-right: 10px;
    font-weight: bold;
}

.film-rating {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.mat-card-image {
    flex: 0 0 auto;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.mat-card-actions:last-child {
    flex:0 0 auto;
    margin-bottom: 0;
    bottom: 0;   
    padding: 0;
}

.mat-card-content {
    flex: 1 1 auto;
    position: relative; 
    max-height: 130px;
    margin-bottom: 15px;
    padding: 5px 15px;
    overflow: hidden;
}

.film-actions {
    height: 40px;
    flex: 0 0 auto;
    margin-bottom: 0;
    bottom: 0;
}

.film-actions .mat-button {
    padding: 0;
}

.favorite {
    color: mediumvioletred;
}
  