<div class="catalog-paging">
    <div class="catalog-paging__shown"></div>
    <div class="catalog-paging__pages">
        <div class="catalog-paging__page">

        </div>
    </div>
</div>
<div class="catalog-cards" *ngIf="content$.items && content$.items.length > 0; else noItemsFound">
    <!-- <app-item [context]="item" *ngFor="let item of content.itemList.items">
    </app-item> -->
    <div *ngFor="let item of content$.items">
        <app-catalog-item [data]="item" [component]="itemComponent"></app-catalog-item>
    </div>
</div>
<ng-template #noItemsFound>
    <div class="catalog-items-missing">
        <p>{{settings.noItemsFound}}</p>
    </div>
</ng-template>
<div class="catalog-items-get">
    <button mat-button class="catalog-items-get__btn" (click)="getMoreItems()" >
        <!-- [disabled]="content$.page === content$.totalPages"-->
        Загрузить еще <mat-icon class="catalog-items-get__icon">autorenew</mat-icon>
    </button>
</div>