/* .items-list {
  margin: 0 75px;
}

.menu-card {
  padding: 0px;
}

.menu-toolbar {
  background-color: white;
}

.items-list-spacer {
  flex: 1 1 auto;
} */

.catalog-paging {

}

.catalog-paging__page {

}

.catalog-paging__pages {

}

.catalog-paging__shown {
  
}

.catalog-cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 30px;
}

/* .mat-form-field {
  width: 200px;
}

.items-search {
  width: 100%
}

.items-search .mat-form-field {
  width: 100%
} */

.catalog-items-missing {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  font-size: 22px;
}

.catalog-items-get {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.catalog-items-get__btn {
  font-size: 28px;
}

.catalog-items-get__icon {
  font-size: 28px;
  color: lightgreen;
  margin-bottom: 10px;
}

